.root {
    -fx-background-color: #222;
    -fx-background-radius: 28;
}

.mainPane {
    -fx-background-color: linear-gradient(to bottom right, #08AEEA,#2AF598);
    /*-fx-background-color: linear-gradient(to bottom right, #f56e55, #c21e4a);*/

    /*-fx-background-color: linear-gradient(to bottom right, #FFE53B, #c21e4a);*/
    -fx-background-radius: 15 15 25 25;
}

.highlight {
    -fx-background-color: #00000025;
    -fx-background-radius: 15;
    -fx-text-fill: #FFFFFF;
}

.base {
    -fx-background-color: #00000025;

    -fx-text-fill: #FFFFFF;
}
.button:hover {
    -fx-background-color: #7c55c9;
    -fx-scale-y: 1.1;
}

.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}